@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*:not(i) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ae9cff;
}
.container {
  background-color: #ffffff;
  width: 90vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  border: none;
  outline: 0;
  width: 70%;
  padding: 5px;
  font-size: 16px;
  border-bottom: 2px solid #ae9cff;
}
.search-box button {
  padding: 10px 4px;
  width: 25%;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  outline: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: #ae9cff;
}
.result {
  position: relative;
}
.result h3 {
  font-size: 30px;
  color: #1f194c;
}
.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result button {
  background-color: transparent;
  font-size: 18px;
  outline: none;
  border: 0;
  cursor: pointer;
}
.result button i {
  color: #b3b6d4;
}
.result .details {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
}
.word-meaning {
  color: #575a7b;
  font-size: 13.5px;
}
.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid #ae9cff;
  padding-left: 20px;
  margin-top: 30px;
  font-size: 12.5px;
}
.error {
  margin-top: 60px;
  text-align: center;
}
